.intro{
    margin-top: 30px;
    margin-bottom: 100px;
}

.intro__inner{
    display: flex;
    justify-content: space-between;
}

.intro__goods-list{
    width: 263px;
}

.intro__list-item{
    width: 100%;
    margin-bottom: 1px;

    &:last-child{
        margin-bottom: 0;
    }
}

.intro__list-link{
    position: relative;

    padding-left: 60px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;

    background-color: $gallery;

    color: $shark;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.75px;

    transition: background-color .2s linear;
    &:hover{
        background-coloR: $pattensBlue;
    }
    &::before{
        content: "";
        width: 10px;
        height: 10px;

        border: 3px solid $shark;
        border-radius: 50%;

        position: absolute;
        left: 25px;
        top: 50%;
        
        transform: translateY(-50%);
    }
}

.intro__list-link-img{
    position: absolute;
    right: 15px;
    top: 50%;

    transform: translateY(-50%);
}

.intro__right{
    width: 835px;
}

.header__slider-box{

    position: relative;;

    padding-top: 70px;
    padding-left: 40px;
    padding-bottom: 10px;
    min-height: 440px;

    background: url('../img/intro/slider-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro__slider-title{
    max-width: 321px;
    margin-bottom: 25px;

    color: $white;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.intro__slider-subtitle{
    margin-bottom: 5px;

    color: $malibu;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 1.1px;
}

.intro__slider-price{
    color: $white;
    font-family: Panton;
    font-size: 30px;
}

.intro__slider-link{
    margin-top: 20px;
    a{
        padding: 15px 45px;
        color: $white;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 3.2px;
        background-color: $shark;

        transition: background-color .2s linear;
        &:hover{
            background-color: #12447d;
        }
    }
}

.header__slider-img{
    position: absolute;
    right: 80px;
    top: -11px;
}

.intro__representation{
 
    display: flex;
    justify-content: space-between;
}

.intro__representation-item{
    min-height: 188px;
    padding: 25px;
 
    position: relative;

    background: url('../img/intro/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 262px;
}

.intro__representation-title{
    margin-bottom: 8px;
    max-width: 112px;

    color: $white;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.intro__representation-subtltle{
    margin-bottom: 8px;
    max-width: 130px;

    color: $malibu;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
}

.intro__representation-img{
    position: absolute;
    bottom: 25px;
}

.intro__representation--absolut{
    position: absolute;
 

    &.one{
        top: 25px;
        right: -14px;
    }
    &.two{
        top: 0;
        right: -20px;
    }
    &.three{
        top: -11px;
        right: 0;
        bottom: -5px;
    }
}


 
 