<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer__inner">

            <div class="footer__left">
                <div class="footer__logo">
                    <img src="./assets/img/footer/logo.png" alt="Логотип">
                    <div class="footer__text">
                        официальный представитель
                        в России
                    </div>
                </div>

                <div class="footer__left-links">
                    <a class="footer__left-link" href="#">Скачать каталог 2020</a>
                    <a class="footer__left-link" href="#">Связатья с нами</a>
                </div>
            </div>


            <div class="footer__right">
                <div class="footer__right-block">

                    <div class="footer__right-title">
                        компания
                    </div>

                    <ul class="footer__list">

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">компания</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">акции</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">новости</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">блог</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">эксперты</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">контакты</a>
                        </li>
                    </ul>

                </div><!-- footer__right-block -->


                <div class="footer__right-block">

                    <div class="footer__right-title">
                        покупателям
                    </div>

                    <ul class="footer__list">

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">каталог</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">оплата</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">доставка</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">возврат</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">помощь</a>
                        </li>

                    </ul>

                </div><!-- footer__right-block -->






                <div class="footer__right-block">

                    <div class="footer__right-title">
                        Отправка
                    </div>

                    <ul class="footer__list">

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#"> 8 (800) 000-00-00</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#">8 (800) 000-00-00</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#"> 8 (800) 000-00-00</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link footer__list-link--email" href="#"> info@mail.ru</a>
                        </li>

                    </ul>

                </div><!-- footer__right-block -->





                <div class="footer__right-block">

                    <div class="footer__right-title">
                        Контакты
                    </div>

                    <ul class="footer__list">

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#"> г. Москва, ул. Иванова <br> д. 5, пом. 8, оф. 11</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#"> 8 (800) 000-00-00</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link" href="#"> 8-800-000-00-00</a>
                        </li>

                        <li class="footer__list-item">
                            <a class="footer__list-link  footer__list-link--email" href="#"> info@yandex.ru</a>
                        </li>

                    </ul>

                </div><!-- footer__right-block -->

            </div><!-- footer__right -->
        </div><!-- footer__inner -->


        <hr class="footer__linear">


        <div class="footer__bottom">

            <div class="footer__bottom-left">
                &#169; 2010-2019 Ltd. Все права защищены.
            </div>

            <div class="footer__bottom-right">

                <a href="#">
                    <img src="./assets/img/footer/vk.png" alt="vk">
                </a>

                <a href="#">
                    <img src="./assets/img/footer/facebook.png" alt="facebook">
                </a>

                <a href="#">
                    <img src="./assets/img/footer/instagram_(1).png" alt="instagram">
                </a>

            </div><!-- footer__bottom-right -->
        </div><!-- footer__bottom -->


    </div><!-- container -->
</div><!-- footer -->