<!-- header -->
<header class="header">

    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">

                <div class="header__top-left">
                    <a class="header__top-link" href="#">Доставка</a>
                    <a class="header__top-link" href="#">Оплата</a>
                    <a class="header__top-link" href="#">Оптовым</a>
                    <a class="header__top-link" href="#">покупателям</a>
                </div>

                <div class="header__top-right">
                    <div class="header__top-text">
                        бесплатно по России
                    </div>
                    <div class="header__top-phone">
                        <a href="tel:88000000000">8-800-000-00-00</a>
                    </div>
                </div>

            </div><!-- header__top-inner -->
        </div><!-- container -->
    </div><!-- header__top -->


    <div class="container">
        <div class="header__center-inner">

            <div class="header__center-logo">
                <a href="#">
                    <img src="./assets/img/logo.png" alt="Логотип">
                </a>
            </div>

            <div class="header__center-search">
                <input type="text" placeholder="Что Вы ищете?">
                <img src="./assets/img/search.png" alt="Поиск">
            </div>

            <div class="header__center-links" lang="en">

                <div class="header__center-link">
                    <a href="#">
                        <img src="./assets/img/refer.png" alt="refer">
                    </a>
                </div>

                <div class="header__center-link">
                    <a href="#">
                        <img src="./assets/img/heart-outline.png" alt="heart-outline">
                    </a>
                    <span class="header__center-number">3</span>
                </div>

                <div class="header__center-link">
                    <a href="#">
                        <img src="./assets/img/shopping-cart.png" alt="cart">
                    </a>
                    <span class="header__center-number">2</span>
                </div>

            </div><!-- header__center-links -->

        </div><!-- header__center -->
    </div><!-- container -->



    <div class="header__bottom">
        <div class="container">

            <div class="header__bottom-inner">

                <div class="header__bottom-category">
                    <button class="header__bottom-category-btn">
                        <img class="header__bottom-burger" src="./assets/img/menu.png" alt="Меню">
                        Каталог товаров
                        <img class="header__bottom-arrow" src="./assets/img/arrow-point-to-right.png" alt="стрелка">
                    </button>
                </div>

                <nav class="header__bottom-nav">
                    <a class="header__bottom-link" href="#">о компании</a>
                    <a class="header__bottom-link" href="#">акции</a>
                    <a class="header__bottom-link" href="#">новости</a>
                    <a class="header__bottom-link" href="#">блог</a>
                    <a class="header__bottom-link" href="#">эксперты</a>
                    <a class="header__bottom-link" href="#">контакты</a>
                </nav>

            </div><!-- header__bottom-inner" -->

        </div><!-- container -->
    </div><!-- header__bottom -->


</header><!-- header -->